<form method="POST" action="" class="card p-4 shadow-sm">
    {% csrf_token %}
    <div class="mb-3">
        <label for="date" class="form-label">Select Dates:</label>
        <input type="date" id="date" name="date" class="form-control" data-disable='{{ disable|safe }}'' required>
    </div>
    {% if request.user.is_authenticated %}
        <button type="submit" class="btn btn-outline-success">Book Now</button>
    {% else %}
        <button type="submit" class="btn btn-outline-danger" disabled>Book Now (Login Required)</button>
    {% endif %}
</form>

<script>
    const disabledRanges = document.getElementById("date").dataset.disable;
    console.log(disabledRanges);
    flatpickr("#date", {
        dateFormat: "d.m.Y",
        mode: "range",
        weekNumbers: true,
        locale: {
            firstDayOfWeek: 1, 
        },
        disable: JSON.parse(disabledRanges),
        minDate: new Date().fp_incr(1), 
        onClose: function(selectedDates, dateStr, instance) {
            if (selectedDates.length !== 2 || selectedDates[0].getTime() === selectedDates[1].getTime()) {
                alert("Будь ласка, виберіть обидві різні дати.");
                instance.clear();
            }
        },
    });
</script>