{% extends "base.html" %}
{% block content %}
    <h3 class="mb-4">Locations:</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for location in locations %}
            {% if location.is_active %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ location.title }}</h5>
                            <p class="card-text"><strong>Price:</strong> {{ location.price }}$ per night</p>
                            <p class="card-text"><strong>Capacity:</strong> {{ location.capacity }} people</p>
                            <p class="card-text"><strong>Location:</strong> {{ location.location }}</p>
                            <p class="card-text"><strong>Place:</strong> {{ location.place }}</p>
                            <a href="{% url 'main:location-info' location.id %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
